.hov:hover {
    background-color: #76ABD6;
  }

.ho{
 background-color: black;
}

.bord{
    

}

.Display_profile{
  max-width: 550px;
}
.buttonn
{
  margin-top: 50px;
}

.oneline
{
  display: -webkit-box;
}
.datatable-full-size {
  width: 100% !important;
}